/* Root Styles CSS */
:root {
    background-color: black;
    font-family: Avenir, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 0px 0px;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

.fof-container{
    color: #fff;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.fof{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fof a{
    color: #EA1E21;
    text-decoration: underline;
}

#header {
    position: fixed;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.header-left {}

.header-right {}

.nav-logo {
    width: 100px;
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-container a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: .6s;
}

.nav-container a:hover {
    opacity: .5;
}

#hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)),
        url("https://wallpapers.com/images/featured/avengers-vm16xv4a69smdauy.jpg");
    background-size: cover;
    margin-top: -20px;

}

#hero-text-region {}

#hero-section h1 {
    font-size: 32px;
    width: 50%;
    min-width: 400px;
}

#hero-section p {
    font-size: 16px;
    width: 50%;
    min-width: 400px;
}

#hero-section h1 span {
    color: #EA1E21;
}

.explore-studion-btn {
    background-color: transparent;
    border: 2px solid #EA1E21;
    border-radius: 10px;
}

.explore-studion-btn:hover {
    opacity: .9;
    background-color: #EA1E21;
}

#avengers-section {
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 150px;
    background: var(--card-bg);
    background-size: cover;
}

.card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)), var(--card-bg);
    background-size: cover;
}

.top-container {
    display: flex;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.bottom-container {
    padding: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .top-container,
.card:hover .bottom-container {
    opacity: 1;
}

.read-more-btn {
    background-color: transparent;
    border: 2px solid #EA1E21;
    border-radius: 10px;
}


#avenger-content{
     width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avenger-image{
    width: 500px;
    height: 450px;
}

